@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

@font-face {
  font-family: "Akzidenz-groteskPro-regular";
  src: url("./fonts/AkzidenzGroteskPro-Regular.woff2") format("woff2"),
    url("./fonts/AkzidenzGroteskPro-Regular.woff") format("woff"),
    url("./fonts/AkzidenzGroteskPro-Regular.otf");
}

@font-face {
  font-family: "Akzidenz-groteskPro-mdex";
  src: url("./fonts/AkzidenzGroteskPro-MdEx.woff2") format("woff2"),
    url("./fonts/AkzidenzGroteskPro-MdEx.woff") format("woff"),
    url("./fonts/AkzidenzGroteskPro-MdEx.otf");
}

@font-face {
  font-family: "Akzidenz-groteskPro-ext";
  src: url("./fonts/AkzidenzGroteskPro-ext.woff2") format("woff2"),
    url("./fonts/AkzidenzGroteskPro-ext.woff") format("woff"),
    url("./fonts/AkzidenzGroteskPro-ext.otf");
}

html {
  font-size: 10px;
}

body {
  font-family: "Akzidenz-groteskPro-regular";
}

header {
  padding: 5%;
}
.header-container {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 3px;
  padding: 3px 0 3px;
  border-bottom: 2px solid black;
}

.header-container a {
  font-size: 3rem;
  min-width: 10rem;
  padding-bottom: 3rem;
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Akzidenz-groteskPro-ext";
}

.active::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 5rem;
  left: -1.75rem;
  top: -0.7rem;
  border: 1px solid black;
  border-top-left-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  transform: skewX(338deg);
}

.inactive {
  cursor: pointer;
}

.inactive:hover {
  box-shadow: 5px 5px 8px rgb(203, 207, 203);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12%;
}

.home__left {
  background: rgb(235, 235, 235);
  height: 80vh;
  position: relative;
}

.home__right {
  border: 1px solid royalblue;
}

.circle-container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  padding-right: 10rem;
  border: 1px solid green;
  grid-template-rows: repeat(7, calc(80vh / 7));
}

.home__left__big {
  font-size: 8rem;
  line-height: 8.8rem;
  font-family: "Akzidenz-groteskPro-mdex";
  font-weight: 500;
  width: 90rem;
  position: absolute;
  left: 25%;
  top: 35%;
  width: 130rem;
  height: 100%;
  margin: 0;
}

.home__right__text {
  font-size: 1.8rem;
  line-height: 3rem;
  width: 30rem;
  color: black;
  font-size: 2rem;
  line-height: 3rem;
  width: 30rem;
  color: black;
  grid-row: 6/7;
  grid-column: 1/2;
}

.block {
  scroll-behavior: smooth;
}

.circle {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  width: 11rem;
  text-align: center;
  grid-row: 6/7;
  grid-column: 2/3;
}

.circle::after {
  content: "";
  position: absolute;
  left: -0.5rem;
  top: -4rem;
  background: black;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  z-index: -1;
}
